#Passenger journeys by Rail

import pandas as pd

In [15]:
df=pd.read_csv("TCA01.20241130T151116.csv")

In [21]:
print(df.info()) # this function provides information about the data type, number of non-null entries
# as we can see in this our Data set most various are performed in categorical type. And only two columns present numerical info.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC Label  35 non-null     object
 1   Year             35 non-null     int64
 2   Type of Journey  35 non-null     object
 3   UNIT             35 non-null     object
 4   VALUE            35 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.5+ KB
None

In [25]:
df.shape # in order to understand the size of the DataFrame

(35, 5)

In [27]:
df.mean 
# In order to compute the mean (average) of the values in each column

<bound method DataFrame.mean of                           STATISTIC Label  Year              Type of Journey  \
0   Passenger Journeys by Rail (Thousand)  2017                 All journeys
1   Passenger Journeys by Rail (Thousand)  2017  Mainline and other services
2   Passenger Journeys by Rail (Thousand)  2017     Dublin suburban services
3   Passenger Journeys by Rail (Thousand)  2017                         DART
4   Passenger Journeys by Rail (Thousand)  2017       International journeys
5   Passenger Journeys by Rail (Thousand)  2018                 All journeys
6   Passenger Journeys by Rail (Thousand)  2018  Mainline and other services
7   Passenger Journeys by Rail (Thousand)  2018     Dublin suburban services
8   Passenger Journeys by Rail (Thousand)  2018                         DART
9   Passenger Journeys by Rail (Thousand)  2018       International journeys
10  Passenger Journeys by Rail (Thousand)  2019                 All journeys
11  Passenger Journeys by Rail (Thousand)  2019  Mainline and other services
12  Passenger Journeys by Rail (Thousand)  2019     Dublin suburban services
13  Passenger Journeys by Rail (Thousand)  2019                         DART
14  Passenger Journeys by Rail (Thousand)  2019       International journeys
15  Passenger Journeys by Rail (Thousand)  2020                 All journeys
16  Passenger Journeys by Rail (Thousand)  2020  Mainline and other services
17  Passenger Journeys by Rail (Thousand)  2020     Dublin suburban services
18  Passenger Journeys by Rail (Thousand)  2020                         DART
19  Passenger Journeys by Rail (Thousand)  2020       International journeys
20  Passenger Journeys by Rail (Thousand)  2021                 All journeys
21  Passenger Journeys by Rail (Thousand)  2021  Mainline and other services
22  Passenger Journeys by Rail (Thousand)  2021     Dublin suburban services
23  Passenger Journeys by Rail (Thousand)  2021                         DART
24  Passenger Journeys by Rail (Thousand)  2021       International journeys
25  Passenger Journeys by Rail (Thousand)  2022                 All journeys
26  Passenger Journeys by Rail (Thousand)  2022  Mainline and other services
27  Passenger Journeys by Rail (Thousand)  2022     Dublin suburban services
28  Passenger Journeys by Rail (Thousand)  2022                         DART
29  Passenger Journeys by Rail (Thousand)  2022       International journeys
30  Passenger Journeys by Rail (Thousand)  2023                 All journeys
31  Passenger Journeys by Rail (Thousand)  2023  Mainline and other services
32  Passenger Journeys by Rail (Thousand)  2023     Dublin suburban services
33  Passenger Journeys by Rail (Thousand)  2023                         DART
34  Passenger Journeys by Rail (Thousand)  2023       International journeys

      UNIT  VALUE
0   Number  45505
1   Number  11557
2   Number  12696
3   Number  20077
4   Number   1175
5   Number  47960
6   Number  12438
7   Number  13299
8   Number  20934
9   Number   1290
10  Number  50060
11  Number  13179
12  Number  13997
13  Number  21560
14  Number   1324
15  Number  17930
16  Number   4667
17  Number   4772
18  Number   8044
19  Number    448
20  Number  17411
21  Number   5044
22  Number   3989
23  Number   7845
24  Number    533
25  Number  35845
26  Number  10338
27  Number   8740
28  Number  15930
29  Number    836
30  Number  46066
31  Number  13210
32  Number  11562
33  Number  19944
34  Number   1350  >

In [38]:
df.describe() 

#This will gives:

#The count of Passenger journeys by Rail.
#The mean, standard deviation, min, 25th percentile, median (50%), 75th percentile, and max amount of passengers.

              Year         VALUE
count    35.000000     35.000000
mean   2020.000000  14901.571429
std       2.029199  14143.651445
min    2017.000000    448.000000
25%    2018.000000   4719.500000
50%    2020.000000  12438.000000
75%    2022.000000  18937.000000
max    2023.000000  50060.000000